/* The container */
.mmp_radio {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0 !important;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
}

/* Hide the browser's default radio button */
.mmp_radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.mmp_radio__checkmark {
    display: block;
    position: relative;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.mmp_radio:hover input ~ .mmp_radio__checkmark {
    background-color: #efefef;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.mmp_radio__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.mmp_radio input:checked ~ .mmp_radio__checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.mmp_radio .mmp_radio__checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
}