.mmp_settings {
    width: 800px;
    max-width: 100%;
}

.mmp_settings .panel {
    box-sizing: border-box;
    width: 800px;
    max-width: 100%;
    margin-bottom: 10px !important;
    padding: 11px 10px !important;
    border: 1px solid var(--mmp-wizard-border);
    border-radius: 5px
}

.mmp_settings .panel label {
    font-weight: 700;
    text-align: left !important;
}

.mmp_settings .panel label .label-tooltip {
    padding: 1px 5px;
    text-align: left !important;
    color: black !important;
    background-color: #edf7fb;
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 16%);
}

.mmp_settings .form-group {
    display: flex;
    margin-bottom: 0;
}

.mmp_settings .form-group .control-label {
    padding-bottom: 7px;
}

.mmp_settings .form-group:not(:first-child) {
    border-top: 1px solid #d3d8db;
}

.mmp_settings .panel label.col-lg-3 {
    width: 60% !important;
}

.mmp_settings .panel div.col-lg-9 {
    width: 40% !important;
}

.mmp_settings .panel input[type="text"] {
    border-color: #8c8f94;
    background-color: white;
    box-shadow: none;
    color: black;
}

.mmp_settings .panel .checkbox label {
    font-size: 14px;
    font-weight: 500;
}

.mmp_settings .panel:last-child {
    border: none !important;
    box-shadow: none;
}

.mmp_settings .panel:last-child .panel-footer {
    border: none;
    margin-top: 0;
    background-color: transparent;
    box-shadow: none
}

.mmp_settings .panel button[type="submit"] {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: initial !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 220px;
    max-width: 100%;
    padding: 10px 20px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    outline: none !important;;
    background-color: var(--mmp-blue) !important;
}

.mmp_settings .panel button[type="submit"] i {
    display: none;
}

.mmp_settings .panel .help-block {
    color: black;
    font-style: normal !important;
    margin-bottom: 0 !important;
}

.mmp_settings .tooltip-inner {
    background-color: #333 !important;
    padding: 10px 14px !important;
    font-weight: 400 !important;
    font-size: 13px !important;
}