.mmp-news__linkContainer {
    text-align: right;
}

@media only screen and (min-width: 1200px) {
    .mmp-news__itemUpdate {
        display: flex;
    }

    .mmp-news__itemUpdateContent {
        display: flex;
        flex-direction: column;
    }
}

.mmp-news__link--update {
    font-size: 0.8rem !important;
    text-decoration: none !important;
    background-color: var(--mmp-blue);
    color: white !important;
    padding: 10px 22px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 20px;
    height: 100%;
}

.mmp-news__link--update svg {
    width: 17px;
    height: 19px;
    fill: white;
    margin-right: 13px;
}

.mmp-news__link--update:hover {
    background-color: var(--mmp-blue--darken);
}

.mmp-news__link--common {
    margin-top: 7px;
    font-size: 0.8rem !important;
    color: var(--mmp-blue) !important;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.mmp-news__link--common:hover {
    text-decoration: underline;
}
