<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>mergado</name>
    <displayName><![CDATA[Mergado Pack]]></displayName>
    <version><![CDATA[3.4.1]]></version>
    <description><![CDATA[Mergado Pack module helps you to export your products information to Mergado services.]]></description>
    <author><![CDATA[www.mergado.cz]]></author>
    <tab><![CDATA[export]]></tab>
	<confirmUninstall><![CDATA[Are you sure to uninstall Mergado Pack module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>